server:
  port: 8081
  servlet:
    encoding:
      charset: UTF-8
      force: true
      enabled: true
  error:
    whitelabel:
      enabled: true

spring:
  profiles:
    active: local
  messages:
    basename: i18n/messages,i18n/error
    encoding: UTF-8
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    encoding: UTF-8
    mode: HTML
    cache: false

# MyBatis Setting
mybatis:
  mapper-locations:
    - classpath:mappers/**/*.xml
  type-aliases-package: com.papsnet.openissue.**.dto
  configuration:
    map-underscore-to-camel-case: true
    default-fetch-size: 10000
    default-statement-timeout: 120

# Swagger/OpenAPI
springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html

# File Upload
file:
  upload-root-dir: ./OpenIssueFileStorage
